---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            
            {% if page.website %}
            <h4>Website</h4>
            <div class="hline"></div>
            <p><a href="{{ page.website }}">{{ page.website }}</a></p>
            <div class="spacing"></div>
            {% endif %}
            
            {% if page.pubs %}
            <h4>Related Publications</h4>
            <div class="hline"></div>
			        {% for pub in page.pubs %}

			        </br><li><b>{{ pub.key }}</b>: <i><a href="{{ pub.url }}">{{ pub.title }}</a></i>
						  </li>
              {% endfor %}	

            {% endif %}
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include portfolio.html title="Related Projects" limit=6 %}
